* {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#body-area {
    max-width: 1140px;
    min-width: 300px;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#body-area h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

#body-area table {
    max-width: 300px;
    min-width: 300px;
    font-size: 4rem;
    border: 1px solid #000;
    padding: 35px 10px 20px 10px;
    border-radius: 12px;
    background-color: #EEE;
}
table caption {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid;
    height: 75px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #dff1e6;
    font-size: 4rem;
}
table tr, table caption {
    display: flex;
    justify-content: space-around;
}
table tr {
    margin-bottom: 5px;
}
table tr td {
    font-size: 4rem;
    width: 100%;
    border: 1px solid #000;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #555;
    color: #FFF;
    cursor: pointer;
}
table tr td:last-child {
    margin-right: 0px;
}
table tr #del {
    background-image: url(../images/del.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.longNum {
    font-size: 2rem;
}